<div class="card mb-3">
  <div class="row g-0">
    <div class="col-lg-2 col-md-3 col-12">
      <img [src]="info?.owner?.avatar_url" class="img-fluid rounded-start w-100" [alt]="info?.owner?.login">
    </div>
    <div class="col-lg-10 col-md-9 col-8">
      <div class="card-body">
        <h4 class="card-title fw-bold py-2">{{info?.name}}</h4>
        <p class="card-text">{{info?.description}}</p>
        <p class="card-text">
          <span class="badge bg-light text-dark border border-1 p-2 me-2">Stars: {{info?.stargazers_count | conciseNumber}}</span>
          <span class="badge bg-light text-dark border border-1 p-2 me-2">Issues: {{info?.open_issues_count | conciseNumber}}</span>
          <small class="text-muted">Submitted {{info?.updated_at | dateAgo}}  by {{info?.owner?.login}}</small></p>
      </div>
    </div>
  </div>
</div>
